{% extends 'base_generic.html' %}
{% block sidebar %}{% include 'info/info_banner_snippet.html' %} {% endblock %}


<body>
    {% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Reset Your Password </h3>
    <form method="post" action="/password_change_request/">
        {% csrf_token %}
        <div class="form-group">
            <label for="email_address">Email Address</label>
            <input type="email" class="form-control" id="email" name="email_address" placeholder="Enter Your Email Address" Required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    {% endblock %}

</body>
</html>
