{% extends 'base_generic.html' %}
{% block sidebar %}{% include './info_banner_snippet.html' %} {% endblock %}


<body>
    {% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    <h3>Reset your password!</h3>
    <form action="{% url "password_reset_request" uidb64 token %"  method="POST" >
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your New Password" Required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}

</body>
</html>
