{% extends 'base_generic.html' %}
{% block sidebar %}{% include './info_banner_snippet.html' %} {% endblock %}


<body>
    {% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Password Reset</h3>
        Your Password has been successfully changed

    <button type="submit"><a href="/signin">Login</a></button>
    {% endblock %}

</body>
</html>
